{{#*inline "content"}}
<div class="jumbotron">
  <div class="container">
    <h1>選挙の結果を大発表！</h1>
  </div>
</div>
<div class="container">
  <h2>個人の部</h2>
  <div id="people" class="row">
    {{#each candidates as |candidate index|}}
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          {{#if (lt index 10)}}
          <p>{{plus1 index}}. <a href="/candidates/{{candidate.id}}">{{candidate.name}}</a></p>
          {{else}}
          <p>最下位. <a href="/candidates/{{candidate.id}}">{{candidate.name}}</a></p>
          {{/if}}
        </div>
        <div class="panel-body">
          <p>得票数: {{candidate.vote_count}}</p>
          <p>政党: {{candidate.political_party}}</p>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  <h2>政党の部</h2>
  <div id="parties" class="row">
    {{#each parties as |party index|}}
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <p>{{plus1 index}}. <a href="/political_parties/{{party.political_party}}">{{party.political_party}}</a></p>
        </div>
        <div class="panel-body">
          <p>得票数: {{party.vote_count}}</p>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  <h2>男女比率</h2>
  <div id="sex_ratio" class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <p>男性</p>
        </div>
        <div class="panel-body">
          <p>得票数: {{sex_ratio.men}}</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <p>女性</p>
        </div>
        <div class="panel-body">
          <p>得票数: {{sex_ratio.women}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{{/inline}}
{{~> layout ~}}